html {
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #eee9de;
  font-family: Lato, regular, bold;
  line-height: 1.5;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  list-style-type: none;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  padding-top: 2em;
}

section p {
  margin: 1.5rem 0;
}

.btn li {
  display: inline-block;
  max-width: 25em;
  background-color: #eee9de;
  text-align: left;
  padding: 0 1em;
}

.section div {
  text-align: left;
}

.btn a {
  display: inline-block;
  padding: .4em .75em .5em;
  border: 3px solid #333;
  background-color: #eee9de;
  border-radius: 8px;
  color: #666;
  text-decoration: none;
}

.btn a:hover {
  background-color: #333;
  color: #fff;
}
